* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Cinzel', serif;
    background-image: url('/assets/background-img.jpg');
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #c69749;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 11rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

nav {
    display: flex;
    gap: 15rem;
}


#logo {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    color: #c69749;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
}

.btn:hover {
    color: #ffffff;
}

main {
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
    max-width: 60rem;
    gap: 1rem;
}

.name {
    width: 100%;
    font-size: 57px;
}

.role {
    font-size: 27px;
    opacity: 0.5;
}

.description {
    max-width: 30rem;
    font-size: 20px;
    opacity: 0.9;
}